.sidebar-wrap {
    margin-left: 259px;
    margin-top: 95px;
    margin-bottom: 95px;
    margin-right: 0;
    width: 360px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
}

.filters-container,
.details-container { 
    display: flex;
    flex-direction: column;
    background: #3e3c41;
}